@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translate(-50%, -50%);
}

a {
    text-decoration: none;
    color: white;
  
}

h1,
h5 {
    color: #fff;
    font-family: 'Open Sans Condensed'
}

ul {
    list-style: none;
}

ul p {
    font-size: 10px;
    font-weight: 900;
}

li {
    margin: 0px 5px;
}

.header {
    display: flex;
    height: 40px;
    width: 100%;
    background: transparent !important;
    justify-content: center;
    
}

.header-container {
    display: flex;
    color: #fff;
    font-size: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.header-nav-container {
    display: flex;
    width: 100%;
    justify-content: center;
    
}

.header-nav-lnk {
    display: flex;
    
}

.logo {
    height: 8px;
    margin-top: auto;
    margin-bottom: auto;
}

.intro-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-content: center;
    text-align: center;
    margin-top: 8%;
}

.wrapper-intro {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.trans-btn {
    color: #fff;
    padding: 0px 14px;
    margin: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    border: transparent;
}

.trans-btn p {
    font-size: 12px;
    font-weight: 800;
}