@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
h2,
p {
    font-family: 'Open Sans Condensed'
}

.main-body {
    margin: 0px 10%;
}

a:visited {
    text-decoration: none;
    color: white;
}

h1,
h5 {
    color: #fff;
    font-family: 'Open Sans Condensed'
}

ul {
    list-style: none;
}

.header-tesla-s {
    display: flex;
    height: 40px;
    width: 100%;
    background: #222222;
    justify-content: center;
}

.header-container {
    width: 85%;
    display: flex;
    color: #fff;
    font-size: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.header-nav-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.header-nav-lnk {
    display: flex;
}

.logo {
    height: 8px;
    margin-top: auto;
    margin-bottom: auto;
}

.top-section {
    width: 100%;
}

.tesla-s-pic {
    max-width: 100%;
    object-fit: cover;
}

h1.self-drive-header,
.all-wheel-header {
    color: black;
}

p {
    font-size: 13px;
}

.performance {
    height: 668px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.perf-container {
    max-width: 75%;
    object-fit: contain;
    text-align: center;
}

.perf-btm-container {
    display: flex;
    max-width: 100%;
    object-fit: contain;
    border-bottom: .5px solid #cccccc;
}

.perf-snap {
    max-width: 100%;
    object-fit: contain;
}

.newsletter-btn p {
    color: #fff;
    font-size: 10px !important;
}

.newsletter-btn {
    background: black;
    border: none;
}

.self-driving {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    background: #f7f7f7;
    padding-bottom: 50px;
}

.order-learn-btns {
    border: none;
    background-color: black;
    color: white;
    margin: 4px;
}

.all-wheel-drive {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.group-btn-wheel {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.p100d {
    background: url("https://s3-us-west-1.amazonaws.com/tesla-clone/tesla-s/asset+25.svg") no-repeat center;
    width: 95px;
    padding: 2px;
    border: solid .8px #f2f2f2;
}

.dm-btn {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background: #fff;
    border: solid .8px #f2f2f2
}

.sm-btn {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background: #fff;
    border: solid .8px #f2f2f2
}

.self-drive-btm {
    width: 100%;
    display: flex;
}

.self-drive-para,
.self-drive-thumb-vid {
    height: 300px;
    max-width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.self-drive-para p {
    text-align: left;
    font-size: 12px;
    width: 80%;
}

.self-drive-thumb {
    width: 55%;
    object-fit: contain;
    padding-left: 0
}

.self-drive-thumb-vid {
    text-align: left;
}

.driver-built {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: #f7f7f7;
}

.driver-built h1,
.driver-built p {
    color: black !important;
    width: 65%;
    text-align: center;
}

.driver-carousel {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.slick-slide img {
    max-width: 100%;
}

.safety {
    height: 450px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.safety-container {
    height: 75%;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid .85px #f2f2f2
}

.safety-lt,
.safety-rt {
    width: 50%;
}

.safety-rt {
    padding-left: 120px;
}

.safety-lt h1 {
    color: black
}

.safety-thumb {
    width: 85%;
    object-fit: cover;
}

.touch-screen {
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 43px;
}

.touch-screen-container {
    width: 85%;
    display: flex;
}

.column-one,
.column-two,
.column-three {
    display: flex;
    width: 33.33%;
    align-items: center;
    flex-direction: column;
}

.column-one h1 {
    color: black;
}

.column-two,
.column-three {
    margin-top: 70px;
}

.software {
    width: 100%;
    display: flex;
    margin: 0px !important;
}

.software-banner-pic {
    max-width: 100%;
    object-fit: contain;
    
}

.software-updates {
    position: absolute;
    right: 0;
    margin-right: 170px;
}

.software-updates p {
    color: white;
}

.range-hero {
    width: 100%;
    display: flex;
    justify-content: center;
}

.range-hero h1 {
    color: black;
    text-align: center;
    font-family: 'Open Sans Condensed';
    font-size: 37px;
}

.range-car-container {
    width: 70%;
    display: flex;
    flex-direction: column;
}

/* .range-car-container img {
    max-width: 100%;
    object-fit: contain;
}

.range-car-w1,
.range-car-w2 {
    position: absolute;
    height: 53px;
    -webkit-animation:spin 3s linear infinite;
    -moz-animation:spin 3s linear infinite;
    animation:spin 3s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } } */

.range-car-w1 {
    left: 0;
    margin-left: 36%;
    margin-top: 118px
}

.range-car-w2 {
    right: 0;
    margin-right: 37%;
    margin-top: 118px
}